<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, Log4net" />
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
	</configSections>
	
	<connectionStrings>
        <add name="ConnectionString" connectionString="Server=.\SQLEXPRESS;Database=RashutHamaimNET;User Id=sa;Password=1234;TrustServerCertificate=True;" providerName="System.Data.SqlClient"/>
    </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
  </startup>
  <appSettings>
    <add key="MekorotInputPath" value="%ProgramData%\AradTechnologies\ReadsFilesTransformService\InputFiles"/>
    <add key="MekorotArchivePath" value="%ProgramData%\AradTechnologies\ReadsFilesTransformService\ArchiveFiles"/>
    <add key="MekorotOutputPath" value="%ProgramData%\AradTechnologies\ReadsFilesTransformService\OutputFiles"/>
    <add key="MekorotErrPath" value="%ProgramData%\AradTechnologies\ReadsFilesTransformService\ErrorFiles"/>
  </appSettings>
  <log4net>
    <appender name="InfoFileAppender" type="log4net.Appender.RollingFileAppender">
      <lockingmodel type="log4net.Appender.FileAppender+ExclusiveLock"/>
      <file value="${ProgramData}\AradTechnologies\ReadsFilesTransformService\Log\Info.log"/>
      <appendToFile value="true"/>
      <rollingstyle value="Size"/>
      <maxsizerollbackups value="10"/>
      <countdirection value="0"/>
      <maximumfilesize value="20MB"/>
      <filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMin" value="DEBUG"/>
      </filter>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date{yyyy/MM/dd HH:mm:ss} %-5level %-21.21logger{1} %thread - %message%newline"/>
      </layout>
    </appender>
    <appender name="ErrorFileAppender" type="log4net.Appender.RollingFileAppender">
      <lockingmodel type="log4net.Appender.FileAppender+ExclusiveLock"/>
      <file value="${ProgramData}\AradTechnologies\ReadsFilesTransformService\Log\Error.log"/>
      <appendToFile value="true"/>
      <rollingstyle value="Size"/>
      <maxsizerollbackups value="10"/>
      <countdirection value="0"/>
      <maximumfilesize value="20MB"/>
      <filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMin" value="WARN"/>
      </filter>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date{yyyy/MM/dd HH:mm:ss} %-5level %-21.21logger{1} %thread - %message%newline"/>
      </layout>
    </appender>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMin" value="ERROR"/>
      </filter>
      <layout type="log4net.Layout.PatternLayout">
        <param name="Header" value="[Header]\r\n"/>
        <param name="Footer" value="[Footer]\r\n"/>
        <param name="ConversionPattern" value="||| %date{HH:mm:ss,fff} %thread %-21.21logger{1} %m |||%n"/>
      </layout>
    </appender>
    <root>
      <level value="ALL"/>
      <appender-ref ref="InfoFileAppender"/>
      <appender-ref ref="ErrorFileAppender"/>
      <appender-ref ref="ConsoleAppender"/>
    </root>
  </log4net>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>

</configuration>
